<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <h2>{{ contact.name }}</h2>
      </div>
    </div>
    <div class="row gridded">
      <div class="col-sm-4 gridImg">
        <img
          src="{{ contact.imgUrl }}"
          alt="{{ contact.name }}"
          width="100"
          height="150"
          class="img-responsive"
          style="max-height: 150px; width: auto"
        />
      </div>
      <div class="col-md-4 pull-right lowerLeftBtn">
        <div class="col-md-5">
          <button class="btn btn-primary spaceBetweenBtns" routerLink="edit">
            Edit
          </button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-danger spaceBetweenBtns" (click)="onDelete()">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <h4>Email: {{ contact.email }}</h4>
    <h4>Phone: {{ contact.phone }}</h4>
  </div>
</div>
