<div class="deets">
  <div class="deetBtns">
    <h3 class="name">{{ char.name }}</h3>
    <button routerLink="edit">Edit</button>
    <button (click)="onDelete()">Delete</button>
  </div>
  <div class="otherDeets">
    <div class="imgDiv">
      <img
        src="{{ char.imgUrl }}"
        alt="{{ char.name }}"
        width="100"
        height="100"
        class="img-responsive"
      />
    </div>
    <div class="textDeets">
      <h4>Species: {{ char.species }}</h4>
      <h4>Land: {{ char.land }}</h4>
      <h4>Role: {{ char.role }}</h4>
      <!-- <h4>Family:</h4> -->
      <!-- This one is debatable... -->
    </div>
  </div>
</div>
