<nav class="navbar navbar-default meNav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Middle Earth</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav" style="cursor: pointer">
        <li routerLinkActive="active" class="activeLink"><a routerLink="chars">Characters</a></li>
        <li routerLinkActive="active" class="activeLink"><a routerLink="enemies">Enemies</a></li>
        <li routerLinkActive="active" class="activeLink"><a routerLink="lands">Lands</a></li>
      </ul>
    </div>
  </div>
</nav>
