<div class="editForm">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
      <label
        >Name:
        <input
          type="text"
          id="name"
          class="form-control required"
          size="120"
          max="120"
          [ngModel]="land?.name"
          name="name"
          #name
          required
      /></label>
      <label
        >Image Url:
        <input
          type="text"
          id="imgUrl"
          class="form-control"
          size="120"
          max="120"
          [ngModel]="land?.imgUrl"
          name="imgUrl"
          #imgUrl
          required
      /></label>
      <label
        >Land Id:
        <input
          type="text"
          id="landId"
          class="form-control"
          size="120"
          max="120"
          [ngModel]="land?.landId"
          name="landId"
          #landId="ngModel"
          required
      /></label>
    </div>
    <div class="formBtns">
      <button type="submit" [disabled]="!f.valid">Save</button>
      <button type="button" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>
