<div class="deets">
  <div class="deetBtns">
    <h3 class="name">{{ enemy.name }}</h3>
    <button routerLink="edit">Edit</button>
    <button (click)="onDelete()">Delete</button>
  </div>
  <div class="otherDeets">
    <div class="imgDiv">
      <img
        src="{{ enemy.imgUrl }}"
        alt="{{ enemy.name }}"
        width="100"
        height="100"
        class="img-responsive"
      />
    </div>
    <div class="textDeets">
      <h4>Species:{{ enemy.species }}</h4>
      <h4>Land: {{ enemy.land }}</h4>
      <h4>Role: {{ enemy.role }}</h4>
    </div>
  </div>
</div>
