* {
  margin: auto;
}
h2 {
  text-align: center;
  padding: 1em;
}
.landsList {
  margin-top: 2em;
  border: 2px solid #999;
  background-color: #f8f6f1;
  width: 68em;
}
.listTop {
  border: 2px solid #999;
  display: flex;
}
.listTop h2 {
  text-align: center;
}

.listBody div div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1em;
}

app-land-item {
  border: 3px solid #ff96a7;
  width: 20em;
  height: 17em;
  text-align: center;
}

